#game-list ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

#game-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    color: var(--text-h);
    border: 1px solid white;
}

#game-list li img {
    display: block;
    width: min(200px, 100%);
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
}

#search-bar {
    margin-bottom:1rem;
    margin-right:100rem;
}